<nav class="navbar">
  <a href="/"><img src="/images/logo.png" alt="Logo" class="logo" /></a>

  <div class="navbar-right-container">
    <ul class="menu">
      <li class="item"><a href="events.html">Events</a></li>
      <li class="item"><a href="courses.html">Courses</a></li>
      <li class="item"><a href="news.html">News</a></li>
      <li class="item"><a href="about.html">About</a></li>
    </ul>

    <div id="navbarProfile" class="navbar-profile" style="display: none">
      <img id="navbarProfilePic" src="" alt="Profile" />
      <div class="navbar-profile-text">
        <div class="navbar-profile-name" id="navbarProfileName">User</div>
        <a href="#" class="navbar-profile-logout" onclick="handleLogout(); return false;">Log Out</a>
      </div>
    </div>
  </div>

  <button class="hamburger" aria-label="Toggle menu">
    <span></span>
    <span></span>
    <span></span>
  </button>
</nav>
