<footer>
  <h3>LNU AI Society</h3>
  <div class="footer-items">
    <p>
      <a href="https://www.linkedin.com/company/lnuais/" target="_blank">
        <img src="images/linkedin.svg" alt="" class="footer-icon" />
      </a>
      <a href="https://www.instagram.com/lnuaisociety" target="_blank">
        <img src="images/instagram.svg" alt="" class="footer-icon" />
      </a>
      © 2025 LNU AI Society.<br />All rights reserved. <br />
      802552-2056
    </p>
  </div>
</footer>
