<footer class="mx-auto mt-auto flex w-full max-w-[85rem] flex-col items-center justify-between gap-6 rounded-t-[1.5rem] bg-[#111111] px-6 py-6 text-[#fcfbf8] shadow-[0_0_1rem_#181818aa] md:h-[8.5rem] md:flex-row md:gap-0 md:px-16 md:py-0">
  <h3 class="text-xl font-semibold text-[#ffe000]">LNU AI Society</h3>
  <div class="footer-items text-center md:text-right">
    <div class="mb-2 flex justify-center gap-2 md:justify-end">
      <a href="https://www.linkedin.com/company/lnuais/" target="_blank">
        <img
          src="images/linkedin.svg"
          alt=""
          class="footer-icon h-9 w-9 brightness-0 invert"
        />
      </a>
      <a href="https://www.instagram.com/lnuaisociety" target="_blank">
        <img
          src="images/instagram.svg"
          alt=""
          class="footer-icon h-9 w-9 brightness-0 invert"
        />
      </a>
    </div>
    <p class="text-sm text-[#fcfbf8] md:text-base">
      © 2025 LNU AI Society.<br />All rights reserved. <br />
      802552-2056
    </p>
  </div>
</footer>
